!.gitignore
.login
_gsdata_
npm-debug.log
nodejs
nodejs/*
logs
.home
.repositories
.config
7z.exe
7z
.appdata
android-sdk
chrome
git
ant
heidiSQL
im
jdk
node_modules
node_modules/*
npm
tmp
node.exe
mysql
brackets
cmd
MySQLWorkbench
cordova-js
upnpc
upnpc.exe
.tmp
!bin/transparent.png
